Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl,
  readability-*,
  -readability-implicit-bool-conversion
